extends /sidebar

block title
  | Register of Members Settings

block content
  h2 Register of Members Settings

  form.form-horizontal(method="POST")
    .control-group
      label.control-label(for="memberRoleId") Member role
      .controls
        select(id="memberRoleId", name="memberRoleId")
          each role in roles
            option(value=role.id, selected=(role.id === data.memberRoleId))= role.name

    .control-group
      label.control-label(for="detailsHtml") Company details
      .controls
        textarea(id="detailsHtml", name="detailsHtml", style='width:100%', rows=10)= data.detailsHtml

    .control-group
      .controls
        button.btn-success(type="Submit") Save
