extends /sidebar

block title
  | Register of Members Settings

block content
  h2 Register of Members Settings

  form(method="POST")
    fieldset
      .form-group
        label(for="memberRoleId") Member role
        select.form-control(id="memberRoleId", name="memberRoleId")
          each role in roles
            option(value=role.id, selected=(role.id === data.memberRoleId))= role.name

      .form-group
        label(for="detailsHtml") Company details
        textarea.form-control(id="detailsHtml", name="detailsHtml", style='width:100%', rows=10)= data.detailsHtml

      .form-group
          button.btn.btn-success(type="Submit") Save
