extends /layout

block title
  | Application Received

block body
  .row
    .span8.offset2
      h2 Membership Application Received
      p Please check your email '#{data.email}' for the email verification link and your password. We'll let you know when your registration has been approved.
