extends /layout

block title
  | Verification

block everything
  .row
    .col-md-8.col-md-offset-2
      if valid
        h2 Account validated
        p Thanks!
      else
        h2 Wrong validation code
        p Please check the link and try again.
