extends /layout

block body
  .row
    .span4.offset4.login-form
      h2 Unverified
      p You've not yet verified your account, please check your email '#{email}' (don't forget the spam folder) for our verification link.
