extends /sidebar

block title
  | People

block content
  h2 People
  ul.user-list
    each user in users
      li(class=user.classNames)
        a(href="/people/"+user.id)= user.fullname + " (" + user.username + ")"
        each activeRoleUser in user.activeRoleUsers
          if activeRoleUser.role_id != 1
            span.user-role-tag= activeRoleUser.role.name
