extends /sidebar

block title
  = user.fullname

block content
  h2= user.fullname
  p
    strong Username: 
    = user.username
  h3 Active roles:
  ul
  each roleUser in user.activeRoleUsers
    li
      strong= roleUser.role.name
      |  since 
      em= roleUser.approved
