extends /sidebar

block title
  | Role Application

block content
  h2 Role Application
  p This is a single application. Perhaps you can vote on it?
  p
    strong= user.fullname
    |  is applying for role: 
    strong= role.name
  h3 Requirements
  each requirement in requirements || []
    - var requirementType = requirementTypes[requirement.type]
    - var passed = requirement.passed
    if requirementType && requirementType.getSentence
      if passed
        p.text-success= requirementType.getSentence(requirement)
      else
        p.text-warning= requirementType.getSentence(requirement)
        if requirement.actionable
          button.btn.btn-success Approve
    else
      p We've not yet coded the description of this requirement.
