extends /sidebar

block title
  | Role Application

block content
  h2 Role Application
  p This is a single application. Perhaps you can vote on it?
  p
    strong= user.fullname
    |  is applying for role: 
    strong= role.name
