extends /sidebar

block title
  | Edit Role: #{role.name}

block content
  h2 Edit Role: #{role.name}

  form.form-horizontal(method="POST")
    .control-group
      label.control-label(for="name") Role Name
      .controls
        input(type="text", name="name", value=data.name)
    .control-group
      .controls
        button.btn-success(type="submit") Update Role
