@import nib

#main.container
  min-height: 300px
.gumph
  font-size: 1.3em
  line-height: (1.05 * @font-size)
  margin-top: 50px
  text-align: justify
.register-form
.login-form
.message-container
  padding:20px
  margin-top: 30px
  margin-bottom: @margin-top
  background-color: #eee
  box-shadow: 0 2px 4px rgba(0,0,0,0.4)
  border-radius: 20px
  button
    display: block
    margin: auto
  textarea
    box-sizing: border-box
    width: 100%
  input.text
    box-sizing: border-box
    width: 100%
    height: 2.2em
.login-form
  text-align: center

.message-container
  max-width: 600px
  margin: 30px auto

.nav-list
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  margin: 10px
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  .warning a
    color: red
    font-weight: bold

.user-list, .applications
  overflow: hidden
  list-style-type: none
  margin-left: 0

  li
    float: left
    margin-right: 1em
    margin-bottom: 1em

    a
      display: block
      background: #F5F5F5
      padding: .75em
      width: 120px
      border-radius: 4px
      text-decoration: none
      
    a:hover
    a:focus
      background: #EEE
      text-decoration: none
      
      .name
        text-decoration: underline

    img, .name, .roles
      display: block

    img
      margin-bottom: 1em

    .name
      margin-bottom: .5em
    
    .request
      color: #222
      font-size: .9em
      margin-bottom: .5em
      
    .roles
      margin-bottom: 0

    .user-role-tag
      display: block
      margin-left: 0
      margin-bottom: .25em
      padding: 2px
      text-align: center
      line-height: 1.2
      text-shadow: 1px 1px 0 rgba(0, 0, 0, .2)
      border-radius: 3px

    .actionable-tag
      display: block
      text-align: center
      margin: 1em -1em -1em -1em
      border-radius: 0 0 4px 4px
      font-size: .85em
      text-shadow: 1px 1px 0 rgba(0, 0, 0, .2)
      font-weight: bold

  .overdue a
    color: red
  .neverpaid a
    color: orange
  .unapproved a
    font-weight: bold
    color: green
  .unapproved.unverified a
    font-weight: normal
    color: rgb(180,180,180)
  .unapproved.rejected a
    text-decoration: line-through
    color: rgb(220,220,220)
  .pending a
    color: darkblue

.user-role-tag
.actionable-tag
  margin: 0 0 0 5px
  padding: 1px 5px
  font-size: 0.75em
  color: white
  background-color: #999
  border-radius: 20px

.actionable-tag
  background-color: green
  color: white

img.gravatar
  float: right

.sdfsdfsdf
  // Antispam!
  display: none

.registerOfMembers
  font-size: 0.85em
  line-height: 1.2em
  .footer
    position: fixed
    bottom: 0
    margin: 20px 20px 0 20px
  p.legal
    font-size: 0.9em
  .main
    thead
      h3
      p
        text-align: center
    .summary
      margin: 20px 0
    th.name
      width: 160px
  .letterhead
    clearfix()
    .logo
      float: left
      height: 180px
      margin: 20px
      width: auto
    border-bottom: 1px solid black
    .details
      float: right
      margin-right: 20px
    .companyName
    .address
    .contact
      margin: 20px 0
      h4
        margin: 0 0 5px 0
      p
        margin: 0
        padding: 0

form.approval .btn
  margin-right: 20px

footer {
  margin-top: 20px;
}
footer p.backtotop {
  text-align: right;
}
footer p {
  font-size: 0.9em;
  margin: 0;
}
footer p.legal {
  font-size: 0.75em;
  line-spacing: 100%;
}
