extends /sidebar

mixin controlGroup(id, label)
  .control-group
    label.control-label(for=id)= label
    .controls
      input(name=id, id=id, value=data[id])

block title
  | Passport Settings

block content
  h2 Passport Settings
  p Configure social accounts below to enable them to be used to log in to the Members Area.

  form.form-horizontal(method="POST")
    h4 Facebook
    +controlGroup("FACEBOOK_APP_ID", "App ID")
    +controlGroup("FACEBOOK_SECRET", "App Secret")

    h4 Twitter
    +controlGroup("TWITTER_APP_ID", "API Key")
    +controlGroup("TWITTER_SECRET", "API Secret")

    h4 GitHub
    +controlGroup("GITHUB_APP_ID", "Client ID")
    +controlGroup("GITHUB_SECRET", "Client Secret")

    .control-group
      .controls
        button.btn.btn-success(type="Submit") Save
