extends ./base

block content
  p Hi #{user.safename},
  p Thanks for registering! Please verify your email address by clicking the link below:
  p
    a(href=verifyURL)= verifyURL
  p Thanks,
  p The #{site.name} team
