footer.container
  .row
    .footer-col
      .col-md-6
        a(href='#') Back to top
    .footer-col
      .col-md-6
        p
          | Powered by <a href="http://github.com/members-area/members-area">Members Area</a>.
