doctype html
html
  head
    title
      block title
        = title
        = " | " + (siteSettings.name || "Members Area")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/css/style.css')
    link(href="/img/favicon.png", rel="shortcut icon")
  body
    #wrapper
      include ./alert.jade

      include ./navigation.jade

      block everything
        block sidebar
        #main.container
          block body
            .row
              .col-md-12
                block content
        
      include ./footer.jade

    script(src='/js/jquery.min.js')
    script(src='/js/jquery-migrate.min.js')
    script(src='/js/bootstrap.min.js')
    block scripts
