extends /layout

mixin navList(navigation)
  each item in navigation
    li(class=(item.className + (item.header ? ' sidebar-header' : '')))
      if item.href
        a(href=item.href, class=(item.active ? 'active' : ''))= item.title
      else
        = item.title
    if item.items
      +navList(item.items)

block sidebar
  .navbar-collapse.collapse.navbar-default.sidebar(role='navigation')
    ul#side-menu.nav.sidebar-nav
      +navList(navigation)
