extends /layout

mixin navList(navigation)
  each item in navigation
    li(class=(item.className + (item.header ? ' nav-header' : '') + (item.active ? ' active' : '')))
      if item.href
        a(href=item.href)= item.title
      else
        = item.title
    if item.items
      +navList(item.items)

block body
  .row
    .col-md-3
      ul.nav.nav-stacked
        +navList(navigation)

    .col-md-9.main
      block content
